<Project>
  <PropertyGroup>
    <PublishProtocol>MSDeploy</PublishProtocol>
    <MSDeployServiceURL>site63680.siteasp.net</MSDeployServiceURL>
    <DeployIisAppPath>site63680</DeployIisAppPath>
    <UserName>site63680</UserName>
    <Password>pKq7C6s-q=4W</Password>
    <DestinationAppUrl>http://quantitymanagementapp.runasp.net/</DestinationAppUrl>
    <AllowUntrustedCertificate>true</AllowUntrustedCertificate>
  </PropertyGroup>
</Project>